<label for="TerminalNameFilter">Terminal</label>
@Html.DropDownList("TerminalNameFilter", new SelectList(ViewBag.Terminal, "ID", "TerminalName"), "Please select", new { @class = "form-control" , @onchange="onChangeTerminalNameFilter()" })
    