@{
    ViewData["Title"] = "Index";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cargo Family</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Cargo Family</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Add Cargo Family </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">
                            <input type="hidden" id="CargoFamilyId" name="CargoFamilyId" value="">
                            <div class="row">
                                <div class="col-sm-6">

                                    <div class="form-group">
                                    <label for="PortName">Cargo Type<span class="text-danger">*</span></label>
                                        @Html.DropDownList("CargoType", new SelectList(ViewBag.CargoType, "ID", "CargoTypeName"),"Please Select" ,new { @class="form-control" })
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                    <div class="form-group">
                                    <label for="PortName">Cargo Family Name<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="CargoFamilyName" placeholder="Cargo Family Name" onchange="onCargoFamilyNameChange(this.val)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                               
                        

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="Status">
                                        <label class="form-check-label" for="Status">Status</label>
                                    </div>

                                </div>


                            </div>

                            <!-- /.card-body -->
                        </div>

                        @using PDAEstimator_Domain.Entities;
                        @if (ViewBag.UserPermissionModel != null)
                        {
                            List<UserPermissionRights> userPermissionRights = new List<UserPermissionRights>();
                            List<UserRoleName> userRoleName = new List<UserRoleName>();
                            userPermissionRights = ViewBag.UserPermissionModel;
                            userRoleName = ViewBag.UserRoleName;

                            @if (userRoleName.Where(x => x.RoleName == "Admin").Count() > 0 || (userPermissionRights.Where(x => x.MenuName == "Cargo Family" && x.UserRolePermission == "Edit").Count() > 0))
                            {
                                <div class="card-footer">
                                    <button class="btn btn-primary" onclick="cargoFamilySave()">Submit</button>
                                </div>
                            }
                        }



                    </div>
                    </div>
             
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Cargo Family List</h3>
                    </div>
                    <div class="card-body">
                        <label for="">Filters:</label>
                        <div class="row" style="padding-bottom: 10px;">
                            <div class="col-sm-2" style="max-width: 15%;">
                                <label for="CargoFamilyNameFilter">Cargo Family Name</label>
                                <input type="text" class="form-control" id="CargoFamilyNameFilter" placeholder="Cargo Family Name">
                            </div>
                            <div class="col-sm-2" style="max-width: 15%;">
                                <label for="CargoTypeFilter">CargoType</label>
                                @Html.DropDownList("CargoTypeFilter", new SelectList(ViewBag.CargoType, "ID", "CargoTypeName"),"Please Select" ,new { @class="form-control" })
                            </div>
                        </div>
                    <div id="viewAll" class="table-responsive"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>


@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('#CargoMainMenu').addClass('active');
            $('#CargoFamilyMenu').addClass('active');
            $('#CargoFamilyMenu').parent().closest('ul').parent().addClass('menu-open');
            $('#Status').prop("checked", true);
            //$("#").DataTable();
            loadData();
            $("#CargoFamilyNameFilter").change(function () {
                loadData();
            });
            $("#CargoTypeFilter").change(function () {
                loadData();
            });
            //$('#reload').on('click', function () {
            //    loadData();
            //});
        });
        function onCargoFamilyNameChange(val) {
            $('#CargoFamilyName').css("border", "1px solid #ced4da");
        }
        function cargoFamilySave() {
            var cargoFamily;

            cargoFamily = {
                "ID": $('#CargoFamilyId').val(),
                "CargoTypeID": $('#CargoType').val(),
                "CargoFamilyName": $('#CargoFamilyName').val(),
                
            }
            if ($('#CargoFamilyName').val() == "") {
                toastr.error("Please enter cargo family name.", 'Error Alert');
                $('#CargoFamilyName').css("border-color", "Red");
            }
            else if ($('#CargoType').val() == "") {
                toastr.error("Please enter Cargo Type.", 'Error Alert');
                //$('#CargoType').css("border-color", "Red");
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Admin/CargoFamily/CargoFamilySave",
                    data: cargoFamily,
                    success: function (data) {
                        if (!data.proceed) {
                            return;
                        }
                        else {
                            loadData();
                        }

                    },
                    error: function () {
                    }
                });
                $('#CargoFamilyId').val("");
                $('#CargoType').val("");
                $('#CargoFamilyName').val("");
            }
        }

        function deleteCargoFamily(id) {

            var cargoFamily;

            cargoFamily = {
                "ID": id,
                "CargoTypeID": $('#CargoType').val(),
                "CargoFamilyName": $('#CargoFamilyName').val()
            }

            $.ajax({
                type: "POST",
                url: "/Admin/CargoFamily/DeleteCargoFamily",
                data: cargoFamily,
                success: function (data) {
                    loadData();
                },
                error: function () {
                }
            });

        }


        function editCargoFamily(id) {
            $('#CargoFamilyId').val(id);

            var cargoFamily;

            cargoFamily = {
                "ID": id,
                "CargoTypeID": $('#CargoType').val(),
                "CargoFamilyName": $('#CargoFamilyName').val()
            }

            $.ajax({
                type: "POST",
                url: "/Admin/CargoFamily/EditCargoFamily",
                data: cargoFamily,
                success: function (data) {
                    debugger;
                    $('#CargoType').val(data.cargoFamilys.cargoTypeID);
                    $('#CargoFamilyName').val(data.cargoFamilys.cargoFamilyName);

                },
                error: function () {
                }
            });
        }

        function loadData() {
            var CargoFamily;

            CargoFamily = {
                "CargoFamilyName": $("#CargoFamilyNameFilter").val(),
                "CargoTypeID": $("#CargoTypeFilter").val(),
            }
            //$('#viewAll').load('/CargoFamily/LoadAll');
            $.ajax({
                type: "GET",
                url: "/Admin/CargoFamily/LoadAll",
                data: CargoFamily,
                dataType: "HTML",
                success: function (data) {
                    $("#viewAll").html(data);
                },
                error: function () {
                }
            });
        }

    </script>

}