@{
    ViewData["Title"] = "Index";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>ROE Name Master</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">CallType</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->

                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add ROEName </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <input type="hidden" id="ROENameId" name="ROENameId" value="">
                        <div class="row">
                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label for="PortName">ROE Name<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="ROEName" placeholder="ROE Name" onchange="onROENameChange(this.val)">
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="Status">
                                    <label class="form-check-label" for="Status">Status</label>
                                </div>

                            </div>

                            <div class="col-sm-6">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="IsDefault">
                                    <label class="form-check-label" for="IsDefault">Default</label>
                                </div>

                            </div>
                        </div>

                        <!-- /.card-body -->
                    </div>

                    @using PDAEstimator_Domain.Entities;
                    @if (ViewBag.UserPermissionModel != null)
                    {
                        List<UserPermissionRights> userPermissionRights = new List<UserPermissionRights>();
                        List<UserRoleName> userRoleName = new List<UserRoleName>();
                        userPermissionRights = ViewBag.UserPermissionModel;
                        userRoleName = ViewBag.UserRoleName;

                        @if (userRoleName.Where(x => x.RoleName == "Admin").Count() > 0 || (userPermissionRights.Where(x => x.MenuName == "ROEName" && x.UserRolePermission == "Edit").Count() > 0))
                        {
                            <div class="card-footer">
                                <button class="btn btn-primary" onclick="rOENameSave()">Submit</button>
                            </div>
                        }
                    }

        

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">ROE Name Save List</h3>
                    </div>
                    <div class="card-body">
                        <label for="">Filters:</label>
                        <div class="row" style="padding-bottom: 10px;">
                            <div class="col-sm-2" style="max-width: 15%;">
                                <label for="ROENameFilter">ROE Name</label>
                                <input type="text" class="form-control" id="ROENameFilter" placeholder="ROE Name">
                            </div>
                        </div>
                    <div id="viewAll" class="table-responsive"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>


@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('#FinanceMaster').addClass('active');
            $('#ROENameMenu').addClass('active');
            $('#ROENameMenu').parent().closest('ul').parent().addClass('menu-open');
            $('#Status').prop("checked", true);
            loadData();
            $("#ROENameFilter").change(function () {
                loadData();
            });
        });

        function onROENameChange(val) {
            $('#ROEName').css("border", "1px solid #ced4da");
        }
        function rOENameSave() {
            var Status = false;
            if ($('#Status').is(":checked")) {
                Status = true;
            }

            var IsDefault = false;
            if ($('#IsDefault').is(":checked")) {
                IsDefault = true;
            }
            var roe;

            roe = {
                "ID": $('#ROENameId').val(),
                "ROEName": $('#ROEName').val(),
                "Status": Status,
                "IsDefault": IsDefault
            }
            if ($('#ROEName').val() == "") {
                toastr.error("Please enter ROE name.",'Error Alert');
                $('#ROEName').css("border-color", "Red");
            }
            
            else{
                $.ajax({
                    type: "POST",
                    url: "/Admin/ROEName/ROENameSave",
                    data: roe,
                    success: function (data) {
                        if (!data.proceed) {
                            return;
                        }
                        else {
                            loadData();
                        }

                    },
                    error: function () {
                    }
                });
                $('#ROENameId').val("");
                $('#ROEName').val("");
                $('#IsDefault').prop('checked', false);
            }
        }

        function deleteROEName(id) {
            debugger

            var roe;

            roe = {
                "ID": id,
                "ROEName": $('#ROEName').val(),
            }

            $.ajax({
                type: "POST",
                url: "/Admin/ROEName/DeleteROENames",
                data: roe,
                success: function (data) {
                    loadData();
                },
                error: function () {
                }
            });

        }
        function editROEName(id) {
            $('#ROENameId').val(id);
            var rOENames;
            rOENames = {
                "ID": $('#ROENameId').val(),
                "ROEName": $('#ROEName').val()

            }

            $.ajax({
                type: "POST",
                url: "/Admin/ROEName/EditROEName",
                data: rOENames,
                success: function (data) {
                    debugger;
                    $('#ROEName').val(data.roeNames.roeName);
                    $('#DefaultCurrecny').prop('checked', data.roeNames.isDefault);

                },
                error: function () {
                }
            });
        }

        function loadData() {
            var roe;

            roe = {
                "ROEName": $("#ROENameFilter").val()
            }
            //$('#viewAll').load('/ROEName/LoadAll');
            $.ajax({
                type: "GET",
                url: "/Admin/ROEName/LoadAll",
                data:roe,
                dataType: "HTML",
                success: function (data) {
                    $("#viewAll").html(data);
                },
                error: function () {
                }
            });
        }

    </script>

}