@{
    ViewData["Title"] = "Index";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Notes</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Notes</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                
                    <div class="card card-primary">
                        <div class="card-header">
                        <h3 class="card-title">Add Notes</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">
                        <input type="hidden" id="NotesId" name="NotesId" value="">
                            <div class="row">

                                <div class="col-sm-6">

                                    <div class="form-group">
                                    <label for="PortName">Note Name<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="NoteName" placeholder="Note Name" onchange="onNoteChange(this.val,1)">
                                    </div>
                                </div>
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                    <label for="PortName">Sequence<span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" id="Sequence" placeholder="Sequence Code" onchange="onNoteChange(this.val,2)">
                                    </div>
                                  </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="isActive">
                                    <label class="form-check-label" for="IsActive">Status</label>
                                    </div>

                                </div>


                            </div>

                            <!-- /.card-body -->
                        </div>

                    @using PDAEstimator_Domain.Entities;
                    @if (ViewBag.UserPermissionModel != null)
                    {
                        List<UserPermissionRights> userPermissionRights = new List<UserPermissionRights>();
                        List<UserRoleName> userRoleName = new List<UserRoleName>();
                        userPermissionRights = ViewBag.UserPermissionModel;
                        userRoleName = ViewBag.UserRoleName;

                        @if (userRoleName.Where(x => x.RoleName == "Admin").Count() > 0 || (userPermissionRights.Where(x => x.MenuName == "Notes" && x.UserRolePermission == "Edit").Count() > 0))
                        {
                            <div class="card-footer">
                                <button class="btn btn-primary" onclick="NoteSave()">Submit</button>
                            </div>
                        }
                    }


                

                    </div>
               
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Notes List</h3>
                    </div>
                    <div id="viewAll" class="card-body table-responsive"></div>
                </div>
            </div>
        </div>

    </div>

</section>


@section Scripts
    {
    <script>
         $(document).ready(function () {
            $('#MasterMenu').addClass('active');
            $('#NotesMenu').addClass('active');
            $('#NotesMenu').parent().closest('ul').parent().addClass('menu-open');
            $('#isActive').prop("checked", true);
            loadData();
        });

        function onNoteChange(val, inputVal) {
            if(inputVal==1){
                $('#NoteName').css("border", "1px solid #ced4da");
            }
            else if(inputVal==2){
                $('#sequnce').css("border", "1px solid #ced4da");
            }
        }

        function NoteSave() {
            var Status = false;
            if ($('#isActive').is(":checked")) {
                Status = true;
            }
            var notes;
            debugger
            notes = {
                "ID": $('#NotesId').val(),
                "Note": $('#NoteName').val(),
                "sequnce": $('#Sequence').val(),
                "isActive": Status
            }

            if ($('#NoteName').val() == "") {
                toastr.error("Please enter note name.", 'Error Alert');
                $('#NoteName').css("border-color", "Red");
            }
            else if ($('#Sequence').val() == "") {
                toastr.error("Please enter sequnce.", 'Error Alert');
                $('#Sequence').css("border-color", "Red");
            }
            else{
                $.ajax({
                    type: "POST",
                    url: "/Admin/Notes/NoteSave",
                    data: notes,
                    success: function (data) {
                        if (!data.proceed) {
                            return;
                        }
                        else {
                            loadData();
                        }
                    },
                    error: function () {
                    }
                });
                $('#NotesId').val("");
                $('#NoteName').val("");
                $('#Sequence').val("");
            }
        }

        function deleteNote(id) {
            debugger

            var notes;

            notes = {
                "ID": id,
                "Note": $('#NoteName').val(),
                "sequnce": $('#Sequence').val()

            }

            $.ajax({
                type: "POST",
                url: "/Admin/Notes/deleteNote",
                data: notes,
                success: function (data) {
                    loadData();
                },
                error: function () {
                }
            });

        }

        function editNote(id) {
            //Id
            $('#NotesId').val(id);
            debugger
            var notes;

            notes = {
                "ID": $('#NotesId').val(),
                "Note": $('#NoteName').val(),
                "sequnce": $('#Sequence').val()

            }

            $.ajax({
                type: "POST",
                url: "/Admin/Notes/editNote",
                data: notes,
                success: function (data) {
                    debugger;
                    $('#NoteName').val(data.notes.note);
                    $('#Sequence').val(data.notes.sequnce);


                },
                error: function () {
                }
            });
        }

        function loadData() {
            //$('#viewAll').load('/Currency/LoadAll');
            $.ajax({
                type: "GET",
                url: "/Admin/Notes/LoadAll",
                dataType: "HTML",
                success: function (data) {
                    $("#viewAll").html(data);
                },
                error: function () {
                }
            });
        }

    </script>

}