@* <!DOCTYPE html> *@
@{
    Layout = "";
}
@model PDAEstimator_Domain.Entities.ResetPassword

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ResetPassword </title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <style>
        .box {
            background-color: black;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .box a {
                padding: 15px;
                background-color: #fff;
                border-radius: 3px;
                text-decoration: none;
            }

        .modal {
            position: fixed;
            inset: 0;
            background: rgb(210 210 210 / 11%);
            display: none;
            align-items: center;
            justify-content: center;
        }

        .content {
            position: relative;
            background: white;
            padding: 1em 2em;
            border-radius: 4px;
        }

        .modal:target {
            display: flex;
        }
    </style>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        @*<div class="login-logo">
        <a href="~/index2.html"><b>U & I Holidays</b></a>
        </div>*@
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1"><b>PDA </b>Estimator</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg" style="display:none; color:green; font-weight:600" id="Successed"> Password Changed Successfully</p>
                <p class="login-box-msg" style="display:none; color:red; font-weight:600" id="Failed"> Password Can't Changed </p>

                @*                     <p class="login-box-msg text-danger">Token Is not Valid </p> *@

          
                    <div asp-asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Token" id="Token" type="hidden" />
                    <input asp-for="userId" id="UserID" type="hidden" />


                <div class="form-group" id="PasswordInput">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" id="Password" />
                        <span asp-validation-for="Password" id="PassErrorMsg" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="ConfirmPasswordInput">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" id="CPassword" />
                    <span asp-validation-for="ConfirmPassword" id="ConfirmPassErrorMsg" class="text-danger"></span>
                    </div>
                <div class="form-group" id="MacAddressInput">
                    <label asp-for="MacAddress"></label>
                    <input asp-for="MacAddress" class="form-control" id="MacAddress" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <a href="#popup-box">
                                <span class="fas fa-question-circle"></span>
                            </a>
                        </div>
                    </div>
                </div>
                    <button type="submit" id="submitbtn" class="btn btn-primary btn-block" onclick="ChangePassword()">Submit</button>
                <button type="submit" id="Loggingbtn" class="btn btn-primary btn-block" style="display:none" onclick="RedirectOnLogin()">Login</button>


            </div>
        </div>
        <div id="popup-box" class="modal">
            <div class="content">
                <h3 style="color: green">
                    How to get MacAddress
                </h3>
                <p>
                    <b> Windows </b><br />
                    <ol>
                        <li>Open the Command Prompt by pressing the Windows key + R, typing cmd, and pressing Enter</li>
                        <li>
                            Type getmac and press Enter
                        </li>
                        <li>
                            The MAC address will be displayed in the Command Prompt window and you need to pick first one Physical Address.
                        </li>
                    </ol>
                    <b> Mac </b><br />
                    <ol>
                        <li>
                            Select the Apple menu, then click System Settings
                        <li>
                            Click Network
                        </li>
                        <li>
                            Click the desired network, then click Details
                        </li>
                        <li>
                            Click Hardware
                        </li>
                        <li>
                            The MAC address will be listed below and you need to pick first one Physical Address.
                        </li>
                    </ol>
                </p>
                <a href="#" style="
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        color: #fe0606;
                        font-size: 30px;
                        text-decoration: none;
                    ">&times;</a>
            </div>
        </div>
    </div>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>

    <script>
        function ChangePassword() {
            var Data;

            Data = {
                "userId": $('#UserID').val(),
                "Password": $('#Password').val(),
                "MacAddress": $('#MacAddress').val(),

            }

            $.ajax({
                type: "POST",
                url: "/Admin/UserResetPassword/ChangePassword",
                data: Data,
                success: function (data) {
                    debugger;
                    if (data.success) {
                        window.location.href = '/Admin/AdminLogin';
                        // Display toast notification using a library like toastr.js
                        $("#Successed").show();
                        $("#PasswordInput").hide();
                        $("#ConfirmPasswordInput").hide();
                        $("#submitbtn").hide();
                        $("#Loggingbtn").show();
                        $('#Password').val("");
                        $('#CPassword').val("");
                      
                    } else {
                        // Handle error or other cases if needed
                        $("#Failed").show();
                    }
                },
                error: function () {
                    $("#TokenError").show();
                }
            });

        }

        function RedirectOnLogin() {
            window.opener = self;
            window.close();
        }
    </script>
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>