@{
    ViewData["Title"] = "Index";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cargo Type</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Cargo Type</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
               
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Add Cargo Type </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">
                            <input type="hidden" id="CargoTypeId" name="CargoTypeId" value="">
                            <div class="row">

                                <div class="col-sm-6">

                                    <div class="form-group">
                                    <label for="PortName">Cargo Type Name<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="CargoTypeName" placeholder="Cargo Type Name" onchange="onCargoTypeChange(this.val)">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="CargoTypeStatus">
                                        <label class="form-check-label" for="CargoTypeStatus">Status</label>
                                    </div>

                                </div>


                            </div>

                            <!-- /.card-body -->
                        </div>

                    @using PDAEstimator_Domain.Entities;
                    @if (ViewBag.UserPermissionModel != null)
                    {
                        List<UserPermissionRights> userPermissionRights = new List<UserPermissionRights>();
                        List<UserRoleName> userRoleName = new List<UserRoleName>();
                        userPermissionRights = ViewBag.UserPermissionModel;
                        userRoleName = ViewBag.UserRoleName;

                        @if (userRoleName.Where(x => x.RoleName == "Admin").Count() > 0 || (userPermissionRights.Where(x => x.MenuName == "Cargo Type" && x.UserRolePermission == "Edit").Count() > 0))
                        {
                            <div class="card-footer">
                                <button class="btn btn-primary" onclick="cargoTypeSave()">Submit</button>
                            </div>
                        }
                    }



                    </div>
               
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">CargoType List</h3>
                    </div>
                    <div class="card-body">
                        <label for="">Filters:</label>
                        <div class="row" style="padding-bottom: 10px;">
                            <div class="col-sm-2" style="max-width: 15%;">
                                <label for="CargoTypeNameFilter">Cargo Type Name</label>
                                <input type="text" class="form-control" id="CargoTypeNameFilter" placeholder="Cargo Type Name">
                            </div>
                        </div>
                    <div id="viewAll" class="table-responsive"></div>
                </div>
                </div>
            </div>
        </div>

    </div>

</section>


@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('#CargoMainMenu').addClass('active');
            $('#CargoTypeMenu').addClass('active');
            $('#CargoTypeMenu').parent().closest('ul').parent().addClass('menu-open');
            $('#CargoTypeStatus').prop("checked", true);
            //$("#").DataTable();
            loadData();
            $("#CargoTypeNameFilter").change(function () {
                loadData();
            });
            //$('#reload').on('click', function () {
            //    loadData();
            //});
        });

        function onCargoTypeChange(val){
            $('#CargoTypeName').css("border", "1px solid #ced4da");
        }
        function cargoTypeSave() {
           
            var Status = false;
            if ($('#CargoTypeStatus').is(":checked")) {
                Status = true;
            }
            var cargoTypes;

            cargoTypes = {
                "ID": $('#CargoTypeId').val(),
                "CargoTypeName": $('#CargoTypeName').val(),
                 "CargoTypeStatus": Status
            }
            if ($('#CargoTypeName').val() == "") {
                toastr.error("Please enter cargo type name.", 'Error Alert');
                $('#CargoTypeName').css("border-color", "Red");
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Admin/cargoType/cargoTypeSave",
                    data: cargoTypes,
                    success: function (data) {
                        if (!data.proceed) {
                            return;
                        }
                        else {
                            loadData();
                        }

                    },
                    error: function () {
                    }
                });
                $('#CargoTypeId').val("");
                $('#CargoTypeName').val("");
            }
        }

        function deleteCargoType(id) {
            debugger

            var cargoTypes;

            cargoTypes = {
                "ID": id,
                "CargoTypeName": $('#CargoTypeName').val()
            }

            $.ajax({
                type: "POST",
                url: "/Admin/CargoType/deletecargoType",
                data: cargoTypes,
                success: function (data) {
                    loadData();
                },
                error: function () {
                }
            });

        }

        function editCargoType(id) {
            //Id
            $('#CargoTypeId').val(id);

            var cargoTypes;

            cargoTypes = {
                "ID": $('#CargoTypeId').val(),
                "CargoTypeName": $('#CargoTypeName').val()
            }

            $.ajax({
                type: "POST",
                url: "/Admin/CargoType/editCargoType",
                data: cargoTypes,
                success: function (data) {
                    debugger;
                    $('#CargoTypeName').val(data.cargoTypes.cargoTypeName);
                    $('#CargoTypeStatus').prop("checked", data.cargoTypes.cargoTypeStatus);

                },
                error: function () {
                }
            });
        }

        function loadData() {
            var CargoTypeName;

            CargoTypeName = {
                "CargoTypeName": $("#CargoTypeNameFilter").val()
            }
            //$('#viewAll').load('/CargoType/LoadAll');
            $.ajax({
                type: "GET",
                url: "/Admin/CargoType/LoadAll",
                data: CargoTypeName,
                dataType: "HTML",
                success: function (data) {
                    $("#viewAll").html(data);
                },
                error: function () {
                }
            });
        }

    </script>

}